@charset "UTF-8";

* {
  font-family: "Plus Jakarta Sans";
}

body {
  background-color: #F6F7F9;
  margin: 0;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.grid .row {
  flex: 1;
}

.content {
  margin: 0 auto;
}

main {
  padding: 1em 4em;
}

.font-weight-bold {
  font-weight: bold;
}

.white-background {
  background-color: white;
  padding: 1em 2em;
  border-radius: 10px;
}

.accent-color {
  color: #90A3BF;
}

.button-primary {
  background-color: #3563e9 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  text-align: center;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

.succes-message {
  background-color: #cdffcd;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}

.message {
  background-color: #f2a237;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 2rem 3rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 1.5rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.modal-actions a {
  cursor: pointer;
}

.button-secondary {
  background-color: #e0e0e0;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: background-color 0.2s;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: #ccc;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.rating {
  display: flex;
  align-items: center;
  gap: 1em;
}

.stars {
  font-size: 1.5rem;
  color: #e5e7eb;
  font-family: sans-serif;
}

.stars::before {
  content: "★★★★★";
}

.stars.stars-1::before {
  content: "★☆☆☆☆";
  color: #facc15;
}

.stars.stars-2::before {
  content: "★★☆☆☆";
  color: #facc15;
}

.stars.stars-3::before {
  content: "★★★☆☆";
  color: #facc15;
}

.stars.stars-4::before {
  content: "★★★★☆";
  color: #facc15;
}

.stars.stars-5::before {
  content: "★★★★★";
  color: #facc15;
}

.advertorials {
  padding: 1em 4em 0 4em;
  display: flex;
  gap: 1em;
  position: relative;
  overflow: hidden;
}

.advertorial {
  flex: 1;
  background-color: #54A6FF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding: 24px;
  flex-direction: column;
  border-radius: 10px;
}

.advertorial:nth-of-type(1) {
  background-image: url('../images/header-circle-background.svg');
}

.advertorial:nth-of-type(2) {
  background-image: url('../images/header-block-background.svg');
}

.advertorial h2 {
  color: white;
  max-width: 50%;
  /* The Best Platform for Car Rental */
  font-weight: 400;
  line-height: 150%;
  /* or 48px */
  letter-spacing: -0.03em;
  /* Primary/0 */
  color: #FFFFFF;
  /* Inside auto layout */
  margin: 0;
}

.advertorial p {
  color: white;
  max-width: 50%;
}

.advertorial img {
  width: 75%;
  margin: 0 auto;
  z-index: 1;
}

.advertorial .background-header-element {
  z-index: 0;
  position: absolute;
  width: auto;
  transform: translate(-24px, -24px);

}

footer {
  background-color: white;
  display: flex;
  padding: 2em 4em;
}

footer .brand {
  flex: 1;
}

footer .footer-links {
  flex: 1;
  display: flex;
  gap: 3em;
  justify-content: flex-end;
}

footer .footer-links .links {
  display: flex;
  flex-direction: column;
}

footer .footer-links .links h3 {
  font-weight: bold;
}

footer .footer-links .links ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .footer-links .links ul a {
  text-decoration: none;
  color: #90A3BF;
}

.legal-footer {
  display: flex;
  padding: 2em 4em;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-top: 1px solid rgba(19, 19, 19, 0.16);
}

.legal-footer .legal-links ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

.legal-footer .legal-links ul a {
  text-decoration: none;
  color: black;
}

.footer-everything {
  display: flex;
  flex-direction: row;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  background-color: white;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: transparent 1px solid;
}

.menu-content {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  height: 7em;
}

.menu-content.show {
  display: block;
}

.links-for-pages {
  display: flex;
  flex-direction: column;
  gap: 1.45em;
}

.links-for-pages a {
  text-decoration: none;
  color: #050505;
  text-align: center;
  width: 8em;
  height: 1.50em;
  border-radius: 5em;
}

.links-for-pages a:hover {
  background-color: #6687e8;
}

.topbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.topbar .logo a {
  display: inline-block;
  color: #3563e9;
  font-size: 2em;
  text-decoration: none;
  /* Logo */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* or 48px */
  align-items: center;
  letter-spacing: -0.03em;
}

.topbar .logo a img {
  width: 40px;
  height: auto;
}

.topbar form {
  position: relative;
  flex: 2;
  min-width: auto;
}

.topbar form input[type=search] {
  padding: 10px 40px 10px 40px;
  /* ruimte voor icoon links */
  width: 80%;
  border: 1px solid #C3D4E9;
  border-radius: 70px;
  font-size: 14px;
  min-width: 430px;
  transition: all 0.2s ease-in-out;
  margin-left: 5.5em;
  margin-right: 4em;
  margin-top: 0.4em;
    background-image: url('../images/icons/search-normal.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 20px 20px;

}

.topbar form input[type=search]:focus {
  outline: none;
  border-color: #3563e9;
  box-shadow: 0 0 0 2px rgba(53, 99, 233, 0.2);
}


.topbar .menu {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-links {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  list-style: none;
  padding-left: 0;
}

.home-link {
  background-color: white;
  border-radius: 0.8em;
  border: #1e1e1e solid;
  height: 2.5em;
}

.onsaanbod-link {
  background-color: white;
  border-radius: 0.8em;
  border: #1e1e1e solid;
  height: 2.5em;
}

.help-link {
  background-color: white;
  border-radius: 0.8em;
  border: #1e1e1e solid;
  height: 2.5em;
  margin-right: 4em;
}

.home-link:hover,
.onsaanbod-link:hover,
.help-link:hover {
  background-color: #476fea;
}

.topbar .menu .account {
  color: white;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
}

.topbar .menu .account img {
  cursor: pointer;
  border-radius: 999px;
  width: 40px;
  height: 40px;
}

.topbar .menu .account .account-dropdown {
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 180px;
}

.topbar .menu .account.active .account-dropdown {
  display: block;
}

.car-detail .grid {
  gap: 50px;
}

.car-detail .grid .car-type .row {
  display: flex;
  justify-content: space-between;
}

.car-detail .call-to-action {
  display: flex;
  padding-top: 5em;
}

.car-detail .call-to-action .row {
  justify-content: left !important;
  align-items: center;
}

.car-detail .call-to-action .row:last-of-type {
  display: flex;
  justify-content: flex-end !important;
}

.section-title {
  font-size: 1em;
  color: #90A3BF;
}

.cars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 20px;
}

.cars .car-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  gap: 24px;
}

.cars .car-details h3 {
  margin: 0;
}

.cars .car-details .car-type {
  color: #90A3BF;
}

.cars img {
  max-height: 87px;
}

.cars .car-specification {
  display: flex;
  justify-content: space-between;
}

.cars .car-specification span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #90A3BF;
}

.cars .rent-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.data {
  margin-top: 5em;
  margin-bottom: 5em;
}

.account-form {
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.account-form input {
  background-color: #F6F7F9;
  border: none;
  margin-bottom: 24px;
  padding: 1em 2em;
  border-radius: 10px;
}

.account-form label {
  margin-bottom: 1em;
}

.make-a-account {
  text-align: center;
}

.login-title {
  text-align: center;
}

.button-formsubmit {
  background-color: #3563e9 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  margin-left: 16em;
}

.button-form {
  background-color: #3563e9 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  margin-left: 19.2em;
}

.button-settings-form {
  background-color: #3563e9 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  margin-left: 19.2em;
}

.pictogram-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}

.email-image {
  width: 2em;
  height: 2em;
}

.password-image {
  width: 2.5em;
  height: 2.5em;
}

.password-again-image {
  width: 2em;
  height: 2em;
}

.make-a-account {
  text-align: center;
}

.login-title {
  text-align: center;
}

.button-formsubmit {
  background-color: #3563e9 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  margin-left: 16em;
}

.button-form {
  background-color: #3563e9 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  margin-left: 19.2em;
}

.pictogram-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}

.email-image {
  width: 2em;
  height: 2em;
}

.password-image {
  width: 2.5em;
  height: 2.5em;
}

.password-again-image {
  width: 2em;
  height: 2em;
}

#addCarPopup,
#editCarPopup,
#editCarOptionEditer,
#delCarPopup {
  position: absolute;
  left: 20%;
  top: 100px;
  width: 60%;
  height: 80%;
  overflow-y: scroll;
  background-color: #e6e8ee;
  display: none;

  .addCarPopupHeader,
  .editCarPopupHeader,
  .delCarPopupHeader {
    width: 100%;
    border-bottom: solid black 3px;
    margin: 0;
    height: 60px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.05);

    p {
      margin: 20px;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
    }

    img {
      height: 50px;
      position: absolute;
      top: 15px;
      right: 20px;
      cursor: pointer;
    }
  }

  .addCarinput {
    margin: 30px;
    margin-bottom: 0;

    label {
      font-size: 25px
    }

    input,
    select {
      width: 100%;
      border: #767676 solid 1.5px;
    }

    p {
      margin: 0;
      color: #90a3bf;
      font-size: 14px;
    }
  }

  #addCarSubmit,
  #editCarSubmit {
    width: 80%;
    margin: 30px 10% 30px 10%;
    background-color: #3563e9;
    color: white;
    border: 0;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
  }
}

#addCar,
#editCar,
#delCar {
  background-color: #3563e9 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  max-width: fit-content;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  width: 30vw;
}

#buttonMain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

.editCarOption,
.delCarOption {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  line-height: 100px;
  border-bottom: 1px solid gray;
  text-decoration: none;
  color: #333;

  p {
    margin: 0;
  }

  .editCarOptionPrijs,
  .delCarOptionPrijs {
    position: absolute;
    right: 20px;
  }
}

#delCarWarning {
  display: none;
  position: absolute;
  left: 15%;
  top: 200px;
  width: 70%;
  height: 40%;
  background-color: #b2b4ba;
  text-align: center;
  font-size: 25px;

  #buttonDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-top: 100px;

    #confirmCarDel,
    #cancelCarDel {
      background-color: #3563e9 !important;
      color: white !important;
      border-radius: 4px;
      padding: 10px 20px;
      max-width: fit-content;
      text-decoration: none;
      cursor: pointer;
      border: 0;
      width: 30vw;
    }
  }
}


.banner {
  margin-top: 1em;
  margin-left: 10.75em;
}

.work-place {
  margin-left: 2.5em;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
  margin-bottom: 3em;
}

.over-ons-text {
  width: 10em;
  margin-top: 3em;
  margin-left: 23em;
}

.team-image {
  width: 15em;
  height: 15em;
}

.workers-title {
  text-align: center;
  width: 15em;
  margin-top: 3em;
  margin-left: 24.5em;
}

.workers {
  display: flex;
  flex-direction: row;
  gap: 32em;
  margin-left: 16.5em;
  margin-top: 3em;
  margin-bottom: 7.5em;
}

.bosses {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.boss {
  display: flex;
  flex-direction: column;
}

.second-boss {
  display: flex;
  flex-direction: column;
}

.coworkers {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.coworker {
  display: flex;
  flex-direction: column;
}

.work-role {
  color: #898da3;
}

.home-icon {
  width: 2em;
  height: 2em;
}

.onsaanbod-icon {
  width: 2em;
  height: 2em;
  margin-top: 0.3em;
}

.help-icon {
  width: 2em;
  height: 2em;
  margin-top: 0.3em;
}

.bar-page-buttons {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  width: fit-content;
}

.links-and-account {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.us-rydr {
  color: #3563e9;
}


@media screen and (max-width: 932px) {
  .button-primary {
    margin: 0;
  }

  .advertorials {
    padding: 1em 2em 0 2em;
    display: flex;
    gap: 1em;
    position: relative;
    overflow: hidden;
  }

  .advertorial {
    flex: 1;
    background-color: #54A6FF;
    display: flex;
    padding: 24px;
    flex-direction: column;
    border-radius: 10px;
  }

  .advertorial h2 {
    font-size: 125%;
  }

  .advertorial p {
    color: white;
    max-width: 100%;
    font-size: 75%;
  }

  .advertorial img {
    max-width: 100%;
    margin: 15px auto 0 auto;
  }

  .advertorial .background-header-element {
    display: none;
  }

  .advertorial:nth-of-type(2) {
    display: none;
  }

  .message {
    background-color: #f2a237;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    text-align: center;
    font-size: 85%;
  }

  footer {
    background-color: rgb(246, 247, 249);
    display: flex;
    padding: 2em 4em;

  }

  footer h3 {
    width: 5em;
  }

  footer .brand {
    flex: 1;
  }

  footer .footer-links {
    flex: 1;
    display: flex;
    gap: 4.5em;
    justify-content: center;
    margin-left: -3.5em;
  }

  footer .footer-links .links {
    display: flex;
    flex-direction: column;
  }

  footer .footer-links .links h3 {
    font-weight: bold;
  }

  footer .footer-links .links ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  footer .footer-links .links ul a {
    text-decoration: none;
    color: #90A3BF;
  }

  .legal-footer {
    background-color: rgb(246, 247, 249);
  }

  .footer-everything {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
  }

  .topbar {
    height: 7em;
    width: 100vw;
    padding: .5em;
    flex-direction: column;
    overflow-x: hidden;
  }

  .menu-btn {
    display: block;
    font-size: 2em;

  }

  .logo-menu-position {
    display: flex;
    height: 3em;
  }

  .menu .button-primary {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .page-links {
    display: none;
  }

  .topbar .menu .account.active .account-dropdown {
    display: block;
  }

  .make-a-account {
    font-size: 135%;
  }

  .button-formsubmit {
    background-color: #3563e9 !important;
    color: white !important;
    border-radius: 4px;
    padding: 10px 20px;
    max-width: fit-content;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    margin-left: 2.5em;
  }

  .button-form {
    background-color: #3563e9 !important;
    color: white !important;
    border-radius: 4px;
    padding: 10px 20px;
    max-width: fit-content;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    margin-left: 5.5em;
  }

  .button-settings-form {
    background-color: #3563e9 !important;
    color: white !important;
    border-radius: 4px;
    padding: 10px 20px;
    max-width: fit-content;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    margin-left: 10.4em;
  }

  .home-icon {
    width: 1.7em;
    height: 1.8em;
  }

  .onsaanbod-icon {
    width: 1.65em;
    height: 1.5em;
  }

  .help-icon {
    width: 1.8em;
    height: 1.8em;
    margin-top: 0.1em;
  }

  .bar-page-buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 1em;
    width: 20em;
  }

  .work-place {
    margin-left: 0;
  }

  .row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.25em;
    margin-bottom: 3em;
    margin-left: -3em;
  }

  .over-ons-text {
    width: 10em;
    margin-top: 3em;
    margin-left: 0;
  }

  .our-team {
    width: 145px;
    height: 145px;
    margin-left: 5em;
  }

  .team-image {
    width: 9em;
    height: 9em;
  }

  .workers-title {
    text-align: center;
    width: 15em;
    margin-top: 3em;
    margin-left: -1em;
  }

  .workers {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-left: -2em;
    margin-top: 3em;
    margin-bottom: 3.5em;
  }

  .bosses {
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: 10em;
  }

  .boss {
    display: flex;
    flex-direction: column;
  }

  .second-boss {
    display: flex;
    flex-direction: column;
  }

  .coworkers {
    display: flex;
    flex-direction: column;
    gap: 5.3em;
    width: 10em;
  }

  .coworker {
    display: flex;
    flex-direction: column;
    width: 10em;
  }

  .work-role {
    color: #898da3;
  }

}

/*# sourceMappingURL=main.css.map */